node_modules/
front-end/node_modules/
backend/node_modules/
backend/node_modules

.env
front-end/.env
backend/.env

.nuxt
front-end/.nuxt

dist 
front-end/dist
backend/dist/

.npm 
front-end/.npm
backend/.npm


/logs
front-end/logs
backend/logs

*.log
front-end/*.logs
backend/*.logs

package-lock.json
front-end/package-lock.json
backend/package-lock.json