body {
    background-color: #121212;
    color: #fff;
}

.support-sign-up {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.support-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giver-to-service {
    align-self: flex-end;
    margin: 0;
}

