.map-container {
    height: calc(100vh - 250px);
    width: calc(80vw - 500px);
}

.map-parent-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}