.map-container {
    height: calc(100vh - 250px);
    width: 80vw;
}

.map-parent-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}